<meta name="viewport" content="width=device-width, initial-scale=1">
<nav>
    <div class="nav-wrapper light-blue">
      <div id="header" class="offset-s6 ">
        <span><a href="/" class="brand-logo left"><img class = "logo" src="/stork-small.png" alt=""></a></span>

        <% unless user_signed_in?%>
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <span class="hide-on-med-and-down login-field"><%= f.text_field :email, class: "header-input", placeholder: "Email" %></span>
              <span class="hide-on-med-and-down login-field"><%= f.password_field :password, class: "header-input", placeholder: "Password" %></span>
              <span class="hide-on-med-and-down"><%= f.submit 'Sign In', class: 'btn login-btn' %></span>
            <% end %>
          <span class = "hide-on-large-only"><%= link_to "Sign In", new_user_session_path %></span>
          <span><%= link_to "Signup", new_user_registration_path %></span>
        <% end %>

        <% if user_signed_in? %>
          <span>Hi <%= current_user.first_name %> </span>
          <span><%= link_to "Log Out", destroy_user_session_path, method: :delete %></span>
          <span><%= link_to "Profile", user_path(current_user) %></span>
        <% end %>
    </div>
  </div>
</nav>

<!-- need to create the form in the nav bar

	add footer
 -->
