<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="locationField">
      <%= f.text_field :full_address, id: "autocomplete", placeholder: "Enter your address", onFocus: "geolocate()", type: "text" %>
    </div>

    <table id="address">
      <tr>
        <td><%= f.label :address %></td>
        <td> <%= f.text_field :address, class: "field", id: "street_number", disabled: "true" %></td>
        <td class="wideField" colspan="2"><input class="field" id="route"
              disabled="true"></input></td>
      </tr>
      <!-- <tr>
        <td class="label"><%#= f.label :city %></td>
        <td class="wideField" colspan="3"><%#= f.text_field, class="field", id="locality",
              disabled="true" %></td>
      </tr>
      <tr>
        <td class="label"><%#= f.label :state %></td>
        <td class="slimField"><%#= f.text_field class="field",
              id="administrative_area_level_1", disabled="true" %></td>
        <td class="label"> <%#= f.label :zip_code %></td>
        <td class="wideField"><%#= f.text_field, class="field", id="postal_code",
              disabled="true" %></td>
      </tr>
      <tr>
        <td class="label"><%#= f.label :country %></td>
        <td class="wideField" colspan="3"><%#= f.text_field class="field",
              id="country", disabled="true" %></td>
      </tr> -->
    </table>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
