<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <tbody>
    <thead>
      <th>
    <th class = "center-align">Items</th>
    <th class = "center-align">Total Amount</th>
    <th class = "center-align">Date</th>
    </th>
  </thead>
    <% @orders.each do |order| %>
      <tr>
        <td></td>
        <td class = "center-align"><%= order.items.count %></td>
        <td class = "center-align"><%= number_to_currency order.order_total %></td>
        <td class = "center-align"><%= order.updated_at.strftime("%d %b. %Y") %></td>
        <td class = "right-align"><%= link_to 'More Details', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
