<p id="notice"><%= notice %></p>

<h1>Items</h1>
<div class="container">
  <div class="row">

    <% @items.each do |item| %>
    <div class = "col m5">
      <div class="card">
   <div class="card-image waves-effect waves-block waves-light">
     <img class="activator" src="">
   </div>
   <div class="card-content">
     <span class=" activator grey-text text-darken-4"><%= item.name %><i class="material-icons right">more info</i></span>
     <div>
     <a href= <%= link_to%> class="button">Add to Cart</a>
     </div>
   </div>
   <div class="card-reveal">
       <%= link_to 'Show', item %>
       <%= link_to 'Edit', edit_item_path(item) %>
       <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
     <span class="card-title grey-text text-darken-4"><%= item.name %><i class="material-icons right">close</i></span>
     <p><%= item.description %></p>
   </div>
 </div>
 </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Item', new_item_path %>
