<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col m5">
		<div class="item-image">
			<%= image_tag @item.image.url(:medium), class: 'responsive-img' %>
		</div>
		<div class="item-price">
			<p><strong>Price: </strong> <%= number_to_currency(@item.price) %></p> 
		</div>
	</div>
	<div class="col m7">
		<h5 class="item-name">
			<%= @item.name %>
		</h5>
		<p class="stock-remaining <%= @item.stock >= 5 ? 'green-text' : 'red-text' %>"><%= @item.stock %> remaining</p>
		<p><%= @item.description %></p>

	</div>
</div>
<span><%= form_for OrderItem.new, url: order_items_path do |f| %>
  <span><%= link_to 'Back', root_path, class: 'btn' %></span>
      <%= f.hidden_field :item, :value => @item.id %>
      <%= f.submit 'Add to Cart', class: 'btn' %>
<% end  %></span>
<div class='bumper'> </div>
