<!DOCTYPE html>
<html>
  <head>
    <title>Stork</title>
    <%= csrf_meta_tags %>

   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_PLACES_KEY"] %>&libraries=places"></script>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    

    <%= render 'partials/nav' %>

    <p class="notice"><%= notice %></p>
    
    <div class="container">
    <%= link_to order_items_path do %>
      <i class="material-icons medium shopping-cart">shopping_cart</i>
    <% end  %>
    <%= yield %>
    </div>
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_PLACES_KEY"] %>&libraries=places&callback=initAutocomplete" async defer>
  </script>
</html>
