<!DOCTYPE html>
<html>
    <head>
        <title>Stork</title>
        <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <%= render 'partials/nav' %>
        <div class="container main-container">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= link_to order_items_path do %>
            <i class="material-icons medium shopping-cart cart-icon light-blue-text text-darken-2">shopping_cart</i>
            <% end  %>
            <%= yield %>
        </div>
        <!-- FOOTER -->
        <div class="page-footer stork-footer light-blue">
          <div class="footer-copyright">
            <div class="container">
            <a class="grey-text text-lighten-4 left footer-link" href="/about">About</a>
            </div>
          </div>
        </div>
    </body>

</html>
